<!-- your html code here -->
<div class="row">
    <div class="col-8">
        <h2>This First Heading Will cacht Your Eyes</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Preasent commodo cursus magna, vel sceleris nisl consectetur.
            fusce dapibus, tellus ac cursus commodo.</p>

    </div>

    <div class="col-4 float-end">
        <img height="300"
            src="https://browser-d8cc2c78-609f-4355-bdd9-564bfc91d292.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg"
            class="rounded-circle" alt="Aqui va una imagen">
    </div>

    <br>

    <div class="row">
        <div class="col-4 float-end">
            <img height="300"
                src="https://browser-d8cc2c78-609f-4355-bdd9-564bfc91d292.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg"
                class="rounded-circle" alt="Aqui va una imagen">
    </div>

        <div class="col-8 float-end">
            <h2>The Second Heading Is Pretty Cool Too</h2>
            <p>Donec ullamcorper nulla non metus auctor fringila. vestibulun id ligula porta felis euismod semper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo
            </p>
            
     </div>
     <br>