<!-- your html code here -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <img src="https://browser-fa81cbee-d35f-4bc9-867a-0ed17874b40f.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/bg.jpg" class="img-responsive">
                    <div class="carousel-caption" style="color: black; margin: 0%;">
                        <h1 class="bg-light" .bg-light style="margin-left: 50px;">ONE PAGE WONDER</h1>
                        <h1 class="bg-light" style="margin-left: 50px;" .bg-light>WILL KNOCK YOUR SOCKS OFF</h1>
                    </div>
            </div>
        </div>
</div>          