<!-- your html code here -->
<!-- container-fluid: toma todo el ancho de la pantalla -->
<div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <img src="https://browser-fa81cbee-d35f-4bc9-867a-0ed17874b40f.ws-us03.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/bg.jpg" class="img-responsive" style="width: 100%">
                    <div class="carousel-caption" style="color: black; margin: 0%;">
                        <h1 class="bg-light">ONE PAGE WONDER</h1>
                        <h1 class="bg-light">WILL KNOCK YOUR SOCKS OFF</h1>
                    </div>
            </div>
        </div>
</div>          